[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/usr/local/bin/dnd_installer %f
Name=Drag and drop to install
Icon=/usr/local/share/icons/dnd_installer.png
Comment=A drag and drop installer
NoDisplay=true
Categories=Utility;FileTools
MimeType=application/gzip;application/zip;application/vnd.debian.binary-package;application/x-rpm
